#mainNavbar a:not(.active) {
	&:not(:hover):not(:focus) {
		color:rgba(255,255,255,.75); 
	}
	&:hover, &:focus { 
 	   color: rgba(255,255,255,.85);
   	}
}

#headerNav .navbar-toggler {
	color:rgba(255,255,255,.75);
}

#juliaParamsForm {
	padding-bottom: 4rem;
	
	.row {
		padding-top: var(--bs-gutter-y);
	}
	
	.input-group {
		flex-wrap: nowrap;
		
		.input-group-text {
			height: fit-content;
		}
		
		.juliaParam {
			width: 50%;
		}
	}
}